---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/Hero2.astro";
---

<Layout>
  <main class="w-full mx-auto overflow-visible">
    <section>
      <Hero2 />
    </section>
  </main>
</Layout>
