---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/stats.astro";
import Servicios from "../components/Servicios.astro";
import Proceso from "../components/Proceso.astro";
import Beneficios from "../components/Beneficios.astro";
import Contacto from "../components/Contacto.astro";
import Precios from "../components/Precios.astro";
import CTA from "../components/CTA.astro";
import Proyectos from "../components/Proyecto.astro";
---

<Layout>
  <main class="w-full max-w-[1200px] mx-auto px-8 overflow-hidden">
    <section id="inicio" class="min-h-screen">
      <Hero />
    </section>
    <section>
      <Stats />
    </section>
    <section>
      <Servicios />
    </section>
    <section id="proceso">
      <Proceso />
    </section>
    <section>
      <Proyectos />
    </section>
    <section>
      <Beneficios />
    </section>
    <section>
      <CTA />
    </section>
    <section>
      <Precios />
    </section>
    <section>
      <Contacto />
    </section>
  </main>
</Layout>
