---
import PersonIcon from "./icons/person-icon.astro";
---

<section class="py-38">
  <div class="flex items-center gap-2 mb-8 -ml-2">
    <PersonIcon class="w-6 h-6 fill-white" />
    <h2 class="text-3xl font-bold">Acerca de mí</h2>
  </div>

  <div class="flex flex-col md:flex-row gap-16">
    <!-- SERVICIOS -->
    <div class="space-y-6">
      <div class="flex items-center gap-4">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border border-blue-400 text-blue-400"
        >
          <i class="fa-solid fa-code"></i>
        </div>
        <p class="text-lg font-medium">Desarrollo Frontend</p>
      </div>
      <div class="flex items-center gap-4">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border border-blue-400 text-blue-400"
        >
          <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <p class="text-lg font-medium">Desarrollo Backend</p>
      </div>
      <div class="flex items-center gap-4">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border border-blue-400 text-blue-400"
        >
          <i class="fa-solid fa-server"></i>
        </div>
        <p class="text-lg font-medium">Website Hosting</p>
      </div>
    </div>

    <!-- CONTENIDO -->
    <div class="flex-1">
      <p class="mb-10">
        Soy desarrollador web enfocado en crear soluciones digitales funcionales
        y bien estructuradas. Me especializo en Frontend y continúo ampliando
        mis habilidades hacia Backend para trabajar mejor en todo el ecosistema
        de una aplicación web. <br />
        La atención al detalle y la curiosidad guían mi trabajo. Tengo conocimientos
        en UX/UI, diseño responsive, SEO y marketing digital, lo que me permite desarrollar
        experiencias web claras, eficientes y orientadas a generar valor.
      </p>

      <!-- ESTADISTICAS -->
      <div class="flex gap-6 sm:gap-8 md:gap-10 flex-wrap">
        <div class="flex-1 min-w-[100px] text-center">
          <p class="text-2xl sm:text-3xl font-bold text-blue-400">10+</p>
          <p class="text-sm sm:text-base text-gray-400">Proyectos realizados</p>
        </div>
        <div class="flex-1 min-w-[100px] text-center">
          <p class="text-2xl sm:text-3xl font-bold text-blue-400">95%</p>
          <p class="text-sm sm:text-base text-gray-400">
            Satisfacción del cliente
          </p>
        </div>
        <div class="flex-1 min-w-[100px] text-center">
          <p class="text-2xl sm:text-3xl font-bold text-blue-400">2+</p>
          <p class="text-sm sm:text-base text-gray-400">Años desarrollando</p>
        </div>
      </div>
    </div>
  </div>
</section>
