---
import PhoneIcon from "./icons/phone-icon.astro";
import LinkedinIcon from "./icons/linkedin-icon.astro";
import GitHubIcon from "./icons/GitHub-icon.astro";
import WhatsappIcon from "./icons/whatsapp-icon.astro";
---

<section class="flex flex-col items-start py-20 px-4">
  <div class="flex items-center gap-2 mb-8 -ml-2">
        <PhoneIcon class="w-6 h-6 fill-white" />
        <h2 class="text-3xl font-bold ">Contacto</h2>
    </div>

  <p class="max-w-3xl  text-xl leading-relaxed mb-10">
    Actualmente busco integrarme a un equipo de desarrollo donde pueda aportar en la creación de soluciones web eficientes y seguir creciendo como desarrollador. ¿Tienes un proyecto en mente o una oportunidad? Conectemos.
  </p>

  <a href="mailto:ibii.code@gmail.com" class="text-xl hover:underline mb-12">
    luisgerdx521@gmail.com
  </a>

  <div class="flex gap-6">
    <a href="#" class="w-12 h-12 flex items-center justify-center rounded-full transition glass-boton hover:scale-110">
      <WhatsappIcon class="w-5 h-5" />
    </a>

    <a href="#" class="w-12 h-12 flex items-center justify-center rounded-full transition glass-boton hover:scale-110">
      <GitHubIcon class="w-5 h-5" />
    </a>

    <a href="#" class="w-12 h-12 flex items-center justify-center rounded-full transition glass-boton hover:scale-110">
      <LinkedinIcon class="w-5 h-5" />
    </a>
  </div>
</section>