<svg 
{...Astro.props}
width="800px" height="800px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>file_type_openai</title><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,2.12a11.88,11.88,0,0,1,7.93,3.08l-4.24,11.65a2.84,2.84,0,0,1-5.38,0L10.07,7.2A11.88,11.88,0,0,1,16,4.12ZM7.2,10.07l3.08,8.46a11.88,11.88,0,0,1-3.08-8.46Zm8.8,8.46L12.92,10.07h6.16L16,18.53ZM24.8,10.07a11.88,11.88,0,0,1-3.08,8.46Z" style="fill:#412991"/></svg>
